.side-bar-container {
  display: flex;
  flex-direction: column;
  width: 70px;
  position: absolute;
  top: 70px;
  position: fixed;
  background-color: white;
}

.icons-button {
  background: white;
  border: none;
  padding: 10px;
  width: 80px;
  height: 80px;
  transition: background-color 0.25s, border-radius 0.25s;
}

img {
  margin: 0;
  height: 30px;
  width: 30px;
}

p {
  text-align: center;
}

.subscribe {
  font-size: 10px;
}

.icons-button:hover {
  background-color: rgb(237, 235, 235);
  border-radius: 20px;
}