.banner-container{
  margin: 0 10px 0 60px;
  width: 1350px;
  height: 750px;
  margin-top: -10px;
}

.banner-container img{
  width: 1350px;
  height: 750px;
  position: absolute;
  z-index: -1;
}

.banner-text-box{
  padding-left: 60px;
  position: relative;
  top: 160px;
}

.text-1 {
  width: 400px;
  color: rgb(255, 255, 255);
  font-family: sans-serif;
  font-size: 64px;
  font-style: italic;
  font-weight: 900;
  line-height: 74px;
  text-align: left
}

.text-2 {
  margin-top: 20px;
  width: 300px;
  color: rgb(255, 255, 255);
  font-family: sans-serif;
  font-size: 20px;
  font-style: italic;
  font-weight: 900;
  line-height: 28px;
  text-align: left
}

.learn-button {
  margin-top: 20px;
  border: none;
  background-color: white;
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
  height: 40px;
  width: 130px;
  font-family: sans-serif;
  color: rgb(210, 1, 13);
  cursor: pointer;
  font-style: italic;
  font-size: 15px;
  font-weight: 700;
}